<div class="headerSearch">
    <mat-form-field class="example-full-width">
      <mat-label>Поиск фото...</mat-label>
      <label>
        <input type="search"
               matInput
               [(ngModel)]="searchVal"
               (input)="SearchPhoto()"
        >
      </label>
    </mat-form-field>
</div>

<div infinite-scroll infiniteScrollDistance="2" infiniteScrollThrottle="300" (scrolled)="onScrolled()">
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let item of apiRes; let i = index">
<!--      <button mat-button (click)="openDialog(i)">-->
        <img [src]="item" alt="">
<!--      </button>-->
    </mat-grid-tile>
  </mat-grid-list>
</div>


